<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.RelateMapper">

    <sql id="relateBaseColumnSql">
        adminId,
        moduleId,
        relateId
    </sql>

    <sql id="relateBaseWhereSql">
        <if test="map !=null">
            <where>
                <if test="map.adminId !=null">
                    adminId = #{map.adminId}
                </if>
                <if test="map.moduleId !=null">
                    AND moduleId = #{map.moduleId}
                </if>
                <if test="map.relateId !=null">
                    AND relateId = #{map.relateId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRelate" parameterType="com.hzit.dao.entity.Relate">
        INSERT INTO relate(
        <include refid="relateBaseColumnSql"/>
        )VALUES(
        #{adminId},
        #{moduleId},
        #{relateId}
        )
    </insert>


    <delete id="deleteByRelateId" parameterType="Integer">
        DELETE FROM relate WHERE relateId = #{relateId}
    </delete>

    <update id="updateRelate" parameterType="com.hzit.dao.entity.Relate">
        UPDATE relate
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(adminId)">
                adminId = #{adminId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(moduleId)">
                moduleId = #{moduleId} ,
            </if>
        </set>
        WHERE relateId = #{relateId}
    </update>

    <select id="searchRelateByParams" parameterType="map" resultMap="relateMap">
        SELECT
        <include refid="relateBaseColumnSql"/>
        FROM relate
        <include refid="relateBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Relate" id="relateMap">
        <id column="relateId" property="relateId"/>
        <result column="adminId" property="adminId"/>
        <result column="moduleId" property="moduleId"/>
    </resultMap>

</mapper>
